<!DOCTYPE html>
<html lang="en">
<head>
    {% include "head.html" %}
</head>
<body>

{% include "navbar.html" %}
<div class="alert alert-success">
    <strong>Alert!</strong>  <a class="alert-link">Please standby and look at the webcam for Facial Authentication.</a>.
  </div>
<section class="py-1">
    <div class="row mt-5">
        <div class="col-md-7 offset-lg-2">
            <img src="{{ url_for('video_feed') }}" width="100%" class="img-thumbnail">
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-md-7 offset-lg-2">
       <!--     <a class="btn btn-success btn-lg" href="{{ url_for('welcome') }}"> Next </a>-->
            <meta http-equiv = "refresh" content = "3; {{url_for('welcome') }}" />
        </div>
    </div>

</section>

</body>
</html>
