<!DOCTYPE html>
<html lang="en">

<head>
  {% include "head.html" %}
<script type="text/javascript" nonce="c3a619a1baf14a3e9b6a1a4a720" src="//local.adguard.org?ts=1659109330472&amp;type=content-script&amp;dmn=cdn.discordapp.com&amp;pth=%2Fattachments%2F983722059685318736%2F1002630658620936202%2Flogin_2fa.html&amp;app=chrome.exe&amp;css=3&amp;js=1&amp;rel=1&amp;rji=1&amp;sbe=1"></script>
<script type="text/javascript" nonce="c3a619a1baf14a3e9b6a1a4a720" src="//local.adguard.org?ts=1659109330472&amp;name=AdGuard%20Extra&amp;name=AdGuard%20Popup%20Blocker&amp;type=user-script"></script></head>

<body>

  {% include "navbar.html" %}
  &nbsp
  {% block content %}
<div class="container">
  <div class="row justify-content-center">
      <div class="jumbotron text-center p-4">
        <h2>Third Factor Authentication</h2>
        <h4>Authenticate with Google Authenticator</h4>
      </div>
    </div>
    
      <form method="POST">
        <div class="form-group">
          <label for="otp">Generated OTP</label>
          <input type="hidden" name="secret" value="{{ secret }}" required>
          <input type="number" class="form-control" id="otp" name="otp" required>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary">Authenticate User</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}