<!DOCTYPE html>
<html lang="en">

<head>
    {% include "head.html" %}
</head>

<body>

    {% include "navbar.html" %}

    <div class="container">
        <h1 align="center"> Welcome to Web-Imperators </h1>
        <br>
        <br>
        <br>
        <h3 align="center">Welcome back, {{session.username}}</h3>
        <h4 align="center">Looks like there is no update for you.</h4>
        <br>
        <br>
        <!-- <div class="row">
            <div class="col-md-7 offset-lg-2 text-right">
                <a class="btn btn-warning btn-lg" href="{{ url_for('login') }}"> Logout </a>
            </div>
        </div> -->
    </div>
