{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block content %}
<span class="title">
  <h1 align="center">Welcome {{ user.first_name }}</h1>
</span>


<h3 align="center">Is there anything you want to tell us?</h3>
<ul class="list-group list-group-flush" id="notes">
  {% for note in user.notes %}
  <li class="list-group-item">
    {{ note.data }}
    <button type="button" class="close" onClick="deleteNote({{ note.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor %}
</ul>
<form method="POST">
  <textarea name="note" id="note" class="form-control"></textarea>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
{% endblock %}
