<!DOCTYPE html>
<html lang="en">
<head>
    {% include "head.html" %}
</head>
<body>

{% include "navbar.html" %}

<section class="py-1">
    <div class="row mt-5">
        <div class="col-lg-8 offset-lg-2">
            
            <img src="/static/img/logo.png" class="center">
           &nbsp;
            <!-- <div class="row">
                <div class="col-lg-4">
                    <a href="/addprsn" type="button" class="btn btn-success btn-lg"><b>Add Personnel</b></a>
                </div>
                <div class="col-lg-2">
                </div>
                <div class="col-lg-4">
                    <a href="/fr_page" type="button" class="btn btn-info btn-lg"><b>Face Recognition</b></a>
                </div>
            </div> -->
            <div class="form-group row">
                <div class="col-8">
                    <label>Already have an account?Please click on the Login button</label>
                    <br />
                    <a href="/login" type="button" class="btn btn-success btn-lg"><b>Login</b></a>
                </div>
                <div class="col-4">
                    <label>Dont have an account?Please click on the Sign Up button</label>
                    <a href="/sign_up" type="button" class="btn btn-info btn-lg"><b>Sign Up</b></a>
                </div>
            </div>
        
            <br>
            
            {% include "base.html" %}
        </div>
    </div>
</section>

</body>
</html>
